{% extends "layout.html" %}
{% block content %}
<!-- 
<div class="login">
    <h1>Please login</h1>
    <br>
    <form action="" method="post">
      <input type="text" placeholder="Username" name="username" value="{{
        request.form.username }}">
       <input type="password" placeholder="Password" name="password" value="{{
        request.form.password }}">
      <input class="btn btn-default" type="submit" value="Login">
    </form>
    {% if error %}
      <p class="error"><strong>Error:</strong> {{ error }}
    {% endif %}
  </div> 
  -->

  <div class="content">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <img src="static/css/images/undraw_remotely_2j6y.svg" alt="Image" class="img-fluid">
        </div>
        <div class="col-md-6 contents">
          <div class="row justify-content-center">
            <div class="col-md-8">
              <div class="mb-4">
              <h3>Log In</h3>
              <p class="mb-4">Please login to use the Fire Detection System.</p>
            </div>
            <form action="" method="post">
              <div class="form-group first">
                <label for="username">Username</label>
                <input type="text"  class="form-control" id="username" name="username" value="{{
                  request.form.username }}">
  
              </div>
              <div class="form-group last mb-4">
                <label for="password">Password</label>
                
                <input type="password"  class="form-control" id="password" name="password" value="{{
                  request.form.password }}">
              </div>
              
              <div class="d-flex mb-5 align-items-center">
                <label class="control control--checkbox mb-0"><span class="caption">Remember me</span>
                  <input type="checkbox" unchecked/>
                  <div class="control__indicator"></div>
                </label>
                <span class="ml-auto"><a href="#" class="forgot-pass">Forgot Password</a></span> 
              </div>
  
              <input type="submit" value="Log In" class="btn btn-block btn-primary">
              <!-- <input class="btn btn-default" type="submit" value="Login"> -->
             
            </form>
            {% if error %}
            <p style="color: red; margin: 10px 0px;"><b>Error:</b> {{ error }}
            {% endif %}
            </div>
          </div>
          
        </div>
        
      </div>
    </div>
    
  </div>
  
  
  
{% endblock %}
